/* @import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap'); */

body {
  font-family: 'Roboto', sans-serif;
  margin: 10px 20% 10px 20%;
  color: grey;
}

a {
  text-decoration: underline;
  font-size: 80%;
}

p {
  font-size: 80%;
}

#main-header {
  background-color: grey;
  color: white;
  padding: 30px;
  display: inline-block;
}

#main-header > h1 {
  margin: 0px;
}

#main-header > h4 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 0.80em;
  font-weight: 700;
}

#main-header > p {
  margin-bottom: 0px;
  border-top: 1px solid white;
  padding-top: 15px;
}

#main-header > div {
  text-align: center;
  padding: 0px 20px 0px 20px;
  word-spacing: 10px;
}

#main-header > div > a {
  color: white;
}

#tugas-section {
  color: gray;
}

#tugas-section > div {
  text-align: center;
}

#tugas-section > div > a {
  background-color: gray;
  color: white;
  border: 1px solid gray;
  padding: 3px;
}

#expertise-section > div {
  text-align: center;
}

#expertise-section > div > span {
  background-color: gray;
  color: white;
  border: 1px solid gray;
  padding: 3px;
  font-size: 80%;
  display: inline-block;
  margin-top: 4px;
}

#experience-section > article > h4 {
  margin-bottom: 0px;
}

#experience-section > article > h5 {
  margin-top: 5px;
}


#main-footer {
  background-color: gray;
  color: white;
  padding: 1px 30px 1px 30px;
  text-align: center;
}
