body {
    background: url('bg.jpg');
    background-repeat: repeat-x;
    background-color: #f6f6f6;
}

#border {
    font-family: 'kalam', cursive;
    background-color: #ffc7c7;
    border-style: dashed;
    border-width: 0.5em;
    color: #8785a2;
    margin: auto;
    width: 35em;
    padding: 2em;
}
#intro {
    
    text-align: center;
}

h1 {
    color: #8785a2;
    font-size: 3em;
    line-height: 50%;
}

h2 {
    color: #8785a2;
}

.warning {
    text-align: center;
    font-size: small;
    font-style: italic;
}

.profile {
    width: 50%;
}